#logoImagediv
{
  position:absolute;
  width: 50%;
  height:0px;
  top:75px;
  left:0px;
}

#imageLogo {
    height:150px;
}

#carousel {
    height:300px;
    top:250px;
    width:600px;
}

#searchTitle {
    left:25px;
    position:absolute;
    width: 300px;
    top:180px;
    height:10px;
}

#header-search {
    left:20px;
    position:absolute;
    top:220px;
    width:calc(100% - 40px);
}

#searchSubmit {
    left:20px;
    position:absolute;
    top:280px;
}

#recommend {
    left:20px;
    position:absolute;
    top:320px;
}

#carousel1 {
    position:absolute;
    top:350px;
    left:20px;
    background-color:rgb(110, 110, 110);
    border-color:rgb(110, 110, 110);
}

#carousel1:hover {
    background-color:grey;
}

#carousel2:hover {
    background-color:grey;
}

#carousel2 {
    position:absolute;
    top:350px;
    left:700px;
    background-color:rgb(110, 110, 110);
    border-color:rgb(110, 110, 110);
}

#titleRecip {
    position:absolute;
    left:150px;
    top:80px;
}

#loadingbar {
    position:absolute;
    top: 350px;
    left:20px;
}