.btn-space {
    margin-right: 5px;
}

#link0, #link1, #link2 {
    color: white;
    top: 20px;
    position: absolute;
}

#link0 {
    padding-left: 30px;
}

#link1 {
    padding-left: 96px;
}

#link2 {
    padding-left: 210px;
}

#link0:hover, #link1:hover, #link2:hover {
    color: grey;
}

#brand {
    color:white;
}

#toggle {
    background-color: #00000000;
    border: none;
}